database and health status.json
[{"id":"e41f42ff.339e6","type":"tab","label":"淹水感測器","disabled":false,"info":""},{"id":"dcc64e21.a9787","type":"mqtt in","z":"e41f42ff.339e6","name":"","topic":"GIOT-GW/UL/1C497BF27096","qos":"0","datatype":"auto","broker":"b4716d19.801c3","x":160,"y":280,"wires":[["8e056d8e.51711","b40b0b81.803e48"]]},{"id":"e5c8f9ba.3e0978","type":"mysql","z":"e41f42ff.339e6","mydb":"4e30c7f1.8f8058","name":"","x":970,"y":280,"wires":[["f3ce50a2.859e3"]]},{"id":"8e056d8e.51711","type":"json","z":"e41f42ff.339e6","name":"","property":"payload","action":"","pretty":false,"x":370,"y":280,"wires":[["882190cd.dbfb9"]]},{"id":"60968488.03509c","type":"json","z":"e41f42ff.339e6","name":"","property":"payload","action":"","pretty":false,"x":630,"y":280,"wires":[["838a3c2.174f3c"]]},{"id":"882190cd.dbfb9","type":"JSONFilter","z":"e41f42ff.339e6","name":"data_filter","fields":"time,data","expiry":5,"x":500,"y":280,"wires":[["60968488.03509c"]]},{"id":"838a3c2.174f3c","type":"function","z":"e41f42ff.339e6","name":"更新資料庫","func":"var year = msg.payload.substring(10,14);\nvar month = msg.payload.substring(15,17);\nvar day = msg.payload.substring(18,20);\nvar hour = msg.payload.substring(21,23);\nvar min = msg.payload.substring(24,26);\nvar sec = msg.payload.substring(27,29);\nvar id = msg.payload.substring(45,49);\nvar level = msg.payload.substring(49,51);\nvar health = msg.payload.substring(51,53);\n\nvar datatime = year + \"-\" +  month + \"-\" + day + \" \" + hour + \":\" + min + \":\" + sec;\n\n\nif(msg.payload.length == 54){\n    msg.topic = \"INSERT INTO alarm ( id,datetime,level ) VALUES ('\"+id+\" ','\" + datatime +\"','\" + level +\"');UPDATE sensorvalue SET health='01', datetime='\" + datatime +\"',level='\" + level +\"' WHERE id='\"+ id + \"';\";\n}\nelse{\n    msg.topic = \"UPDATE sensorvalue SET health='\" + health +\"', datetime='\" + datatime +\"',level='\" + level +\"' WHERE id='\"+ id + \"'\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":280,"wires":[["e5c8f9ba.3e0978"]]},{"id":"4e417a52.8a4b24","type":"mysql","z":"e41f42ff.339e6","mydb":"4e30c7f1.8f8058","name":"","x":290,"y":500,"wires":[["52272263.44f36c"]]},{"id":"fbddc76a.82b8f8","type":"inject","z":"e41f42ff.339e6","name":"更新健康狀態","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/1 0-23 * * *","once":true,"onceDelay":0.1,"topic":"SELECT id,datetime FROM sensorvalue;  ","x":120,"y":500,"wires":[["4e417a52.8a4b24"]]},{"id":"70f5f712.dbb7e8","type":"array-loop","z":"e41f42ff.339e6","name":"","key":"al70f5f712dbb7e8","keyType":"msg","reset":false,"resetValue":"value-null","array":"array","arrayType":"msg","x":640,"y":500,"wires":[[],["1229dd30.12acf3"]]},{"id":"52272263.44f36c","type":"function","z":"e41f42ff.339e6","name":"","func":"msg.array = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":500,"wires":[["70f5f712.dbb7e8"]]},{"id":"1229dd30.12acf3","type":"function","z":"e41f42ff.339e6","name":"","func":"msg.datetime = new Date() - new Date(msg.payload.datetime);\n\nif(msg.datetime > 5400000)\n    {\n        msg.topic = \"UPDATE sensorvalue SET health='00',level='04' WHERE id= '\"+ msg.payload.id+\"'\";\n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":500,"wires":[["539e3b7b.3613d4"]]},{"id":"539e3b7b.3613d4","type":"mysql","z":"e41f42ff.339e6","mydb":"4e30c7f1.8f8058","name":"","x":970,"y":500,"wires":[["70f5f712.dbb7e8"]]},{"id":"f3ce50a2.859e3","type":"debug","z":"e41f42ff.339e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":360,"wires":[]},{"id":"b40b0b81.803e48","type":"debug","z":"e41f42ff.339e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":360,"wires":[]},{"id":"b4716d19.801c3","type":"mqtt-broker","z":"","name":"test","broker":"140.127.196.39","port":"18883","clientid":"10603020A","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e30c7f1.8f8058","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"watersensor","tz":""}]