webserver and worldmap.json
[{"id":"1bf395f2.87932a","type":"tab","label":"地圖","disabled":false,"info":""},{"id":"3be5c80a.475218","type":"http in","z":"1bf395f2.87932a","name":"","url":"/webserver","method":"get","upload":false,"swaggerDoc":"","x":80,"y":140,"wires":[["8bba450c.fdd3f8","65f2cd5c.594754"]]},{"id":"40aa661c.10fa78","type":"http response","z":"1bf395f2.87932a","name":"","statusCode":"","headers":{},"x":450,"y":140,"wires":[]},{"id":"fc0851e9.9dc63","type":"worldmap","z":"1bf395f2.87932a","name":"","lat":"23.7167","lon":"121.0564425","zoom":"8","layer":"Esri","cluster":"","maxage":"","hiderightclick":"false","coords":"none","path":"","x":470,"y":200,"wires":[]},{"id":"8bba450c.fdd3f8","type":"function","z":"1bf395f2.87932a","name":"move and zoom","func":"if(msg.payload.place == \"士林夜市\"){\n    msg.payload = {\"command\": { \"layer\":\"Esri\", \"lat\":25.0849117, \"lon\":121.5251264, \"zoom\":16 }};\n}\nif(msg.payload.place == \"士林國小\"){\n    msg.payload = {\"command\": { \"layer\":\"Esri\", \"lat\":25.0934906, \"lon\":121.5250128, \"zoom\":16 }};\n}\nif(msg.payload.place == \"淡水碼頭\"){\n    msg.payload = {\"command\": { \"layer\":\"Esri\", \"lat\":25.1701503, \"lon\":121.4388827, \"zoom\":16 }};\n}\nif(msg.payload.place == \"一中街\"){\n    msg.payload = {\"command\": { \"layer\":\"Esri\", \"lat\":24.1503178, \"lon\":120.6853444, \"zoom\":16 }};\n}\nif(msg.payload.place == \"烏日高鐵站\"){\n    msg.payload = {\"command\": { \"layer\":\"Esri\", \"lat\":24.1118961, \"lon\":120.6159216, \"zoom\":16 }};\n}\nif(msg.payload.place == \"台南火車站\"){\n    msg.payload = {\"command\": { \"layer\":\"Esri\", \"lat\":22.9976674, \"lon\":120.2122555, \"zoom\":16 }};\n}\nif(msg.payload.place == \"永康車站\"){\n    msg.payload = {\"command\": { \"layer\":\"Esri\", \"lat\":23.0383302, \"lon\":120.2534509, \"zoom\":16 }};\n}\nif(msg.payload.place == \"大社國中\"){\n    msg.payload = {\"command\": { \"layer\":\"Esri\", \"lat\":22.7306201, \"lon\":120.3567142, \"zoom\":16 }};\n}\nif(msg.payload.place == \"義守大學校門口\"){\n    msg.payload = {\"command\": { \"layer\":\"Esri\", \"lat\":22.7274807, \"lon\":120.4060069, \"zoom\":16 }};\n}\nif(msg.payload.place == \"義守大學電資學院-1\"){\n    msg.payload = {\"command\": { \"layer\":\"Esri\", \"lat\":22.7236, \"lon\":120.408, \"zoom\":16 }};\n}\nif(msg.payload.place == \"義守大學電資學院-2\"){\n    msg.payload = {\"command\": { \"layer\":\"Esri\", \"lat\":22.7237, \"lon\":120.408, \"zoom\":18 }};\n}\nif(msg.payload.place == \"高雄火車站\"){\n    msg.payload = {\"command\": { \"layer\":\"Esri\", \"lat\":22.6394088, \"lon\":120.3025474, \"zoom\":16 }};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":200,"wires":[["fc0851e9.9dc63"]]},{"id":"65f2cd5c.594754","type":"template","z":"1bf395f2.87932a","name":"測試不跳轉","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<html>\n  <head>\n    <title>淹水狀態紀錄網</title>\n  </head>\n  <body bgcolor=\"#b9e1f8\" style=\"color:#05283b\">\n\t<font size=5  face=\"cursive\"><h1 align=\"center\">全台淹水狀態紀錄網</h1></font>\n    \n\n    \t<form action=\"\" id=\"form\" method=\"GET\" target=\"nm_iframe\">\n\t\t\t<font size=5 face=\"monospace\">\n\t\t\t<p align=\"center\">\n\t\t\t\t請選擇縣市\n\t\t\t<select style=\"font-size:17px;\" id=\"city-list\" onchange=\"changeCollege(this.selectedIndex)\"></select>\n\t\t\t\t&emsp; 鄉鎮市區\n            <select style=\"font-size:17px;\" id=\"country-list\" onchange=\"changeCountry(this.selectedIndex)\"></select>\n    \n\t\t\t\t&emsp; 名稱\n\t\t\t<select style=\"font-size:17px; \"id=\"name-list\"></select>\n\t\t\t\n\t\t\t<label id=place></label>&emsp;\n\t\t\t\n\t\t\t<input type=\"submit\" value=\"送出\" onclick=\"getplace()\">\n\t\t\t\t<br><br><br><br><br><br>\n\t\t\t</p>\n\t\t\t</font>\n\t\t</form>\n\t\t<iframe id=\"id_iframe\" name=\"nm_iframe\" style=\"display:none;\"></iframe>\n\t\t\n\t\t<script type=\"text/javascript\">\n\t\t\tvar citys=['請選擇','台北市','台中市','台南市','高雄市'];\n\t\t\tvar citySelect=document.getElementById(\"city-list\");\n\t\t\tvar inner=\"\";\n\t\t\t\n\t\t\tfor(var i=0;i<citys.length;i++){\n\t\t\t\tinner=inner+'<option value=' + i + '>'+citys[i]+'</option>';\n\t\t\t}\n\t\t\tcitySelect.innerHTML=inner;\n\t\t\t\n\t\t\tvar a =1;\n\t\t\tvar sectors=new Array();\n\t\t\tsectors[0]=['請選擇'];\n\t\t\tsectors[1]=['士林區',' 淡水區'];\n\t\t\tsectors[2]=['北區','烏日區 '];\t\n\t\t\tsectors[3]=[' 北區 ','永康區 '];\t\n\t\t\tsectors[4]=['大社區',' 大樹區 ',' 三民區 '];\n\t\t\tfunction changeCollege(index){\n\t\t\t\tvar Sinner=\"\";\n\t\t\t\ta = index;\n\t\t\t\tfor(var i=0;i<sectors[index].length;i++){\n\t\t\t\t\tSinner=Sinner+'<option value= ' + i + '>'+sectors[index][i]+'</option>';\n\t\t\t\t}\n\t\t\t\tvar sectorSelect=document.getElementById(\"country-list\");\n\t\t\t\tsectorSelect.innerHTML=Sinner;\n\t\t\t\tchangeCountry(document.getElementById(\"country-list\").selectedIndex);\n\t\t\t}\n\t\t\tvar sectorss=new Array();\n\t\tsectorss[0]=[['請選擇']];\n\t\tsectorss[1]=[['士林夜市',' 士林國小'],['淡水碼頭']];\n\t\tsectorss[2]=[['一中街'],['烏日高鐵站']];\n\t\tsectorss[3]=[['台南火車站'],['永康車站']];\n\t\tsectorss[4]=[['大社國中'],['義守大學電資學院-1','義守大學校門口','義守大學電資學院-2'],['高雄火車站']];\n\t\t\n            \n\t\t\tfunction changeCountry(index){\n\t\t\t    \n\t\t\t         var Sinner=\"\";\n\t\t\t         \n         \t\t\t for(var j=0;j<sectorss[a][index].length;j++){\n\t\t\t\t\tSinner=Sinner+'<option value=' + sectorss[a][index][j] + '>'+sectorss[a][index][j]+'</option>';\n\t\t\t\t  \t}\n        \t\t\n\t\t\t\tvar sectorSelect=document.getElementById(\"name-list\");\n\t\t\t\tsectorSelect.innerHTML=Sinner;\n\t\t\t}\n\t\t\tchangeCollege(document.getElementById(\"city-list\").selectedIndex);\n\t\t\tchangeCountry(document.getElementById(\"country-list\").selectedIndex);\n\t\t\t\n\t\t\tfunction getplace() {\n\t\t\tvar place = document.getElementById(\"place\");\n\t\t\tvar finish = \"\";\n\t\t\tfinish = finish + '<input type=\"text\" name=\"place\" value=\"' + document.getElementById(\"name-list\").value + '\" readonly=\"true\" style=\"width:100px;height:20px;display:none;\">';\n\t\t\tplace.innerHTML=finish;\n\t\t\t}\n\n\t\t\tif(document.getElementById(\"city-list\").selectedIndex != 0){\n\t\t\t\talert(document.getElementById(\"city-list\").selectedIndex)\n\t\t\t}\n\t\t\t\n\t\t</script>\n  </body>\n\n  <body>\n\t  <div align=\"center\">\n\t\t<iframe name=\"TOP1\" src=\"http://172.20.10.9:1880/worldmap/\"\n\t\twidth=\"750\" height=\"500\" marginwidth=\"0\" marginheight=\"0\"\n\t\tborder=\"0\" frameborder=\"0\" scrolling=\"yes\"></iframe>\n\t  </div>\n  </body>\n</html>\n\n\n","output":"str","x":290,"y":140,"wires":[["40aa661c.10fa78"]]},{"id":"4bb465ee.0c857c","type":"inject","z":"1bf395f2.87932a","name":"更新地圖標點","props":[{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":"0.1","topic":"SELECT id,level,lat,lon FROM sensorvalue;  ","x":80,"y":300,"wires":[["c9cb0dd1.d79ed"]]},{"id":"c9cb0dd1.d79ed","type":"mysql","z":"1bf395f2.87932a","mydb":"4e30c7f1.8f8058","name":"","x":310,"y":300,"wires":[["e5ba6ccf.a4d18"]]},{"id":"e5ba6ccf.a4d18","type":"function","z":"1bf395f2.87932a","name":"","func":"msg.array = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":300,"wires":[["17050c77.d1f1c4"]]},{"id":"17050c77.d1f1c4","type":"array-loop","z":"1bf395f2.87932a","name":"","key":"ale3cfdbb7fb9998","keyType":"msg","reset":false,"resetValue":"value-null","array":"array","arrayType":"msg","x":600,"y":300,"wires":[[],["ea7e7e31.98512"]]},{"id":"ea7e7e31.98512","type":"function","z":"1bf395f2.87932a","name":"","func":"msg.payload.lat = msg.payload.lat;\nmsg.payload.lon = msg.payload.lon;\nmsg.payload.name = msg.payload.id;\n\nif(msg.payload.level == '00')\n{\nmsg.payload.layer = \"earthquake\";\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"green\";\n}\n\nif(msg.payload.level == '01')\n{\nmsg.payload.layer = \"earthquake\";\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"yellow\";\n}\n\nif(msg.payload.level == '02')\n{\nmsg.payload.layer = \"earthquake\";\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n}\n\nif(msg.payload.level == '03')\n{\nmsg.payload.layer = \"earthquake\";\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"red\";\n}\n\nif(msg.payload.level == '04')\n{\nmsg.payload.layer = \"earthquake\";\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"gray\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":300,"wires":[["2dffafa1.db471","2c4595d8.5c097a"]]},{"id":"2dffafa1.db471","type":"mysql","z":"1bf395f2.87932a","mydb":"4e30c7f1.8f8058","name":"","x":950,"y":300,"wires":[["17050c77.d1f1c4"]]},{"id":"2c4595d8.5c097a","type":"worldmap","z":"1bf395f2.87932a","name":"","lat":"23.8708","lon":"121.14458","zoom":"8","cluster":"","maxage":"","hiderightclick":"false","coords":"none","path":"","x":990,"y":240,"wires":[]},{"id":"4e30c7f1.8f8058","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"watersensor","tz":""}]